{% extends "base.html" %}
{% block content %}

<script>
$(function() {
    $('button').click(function() {
        var radio = $(this).attr("value");
        $.ajax({
            url: '/play',
            data: radio,
            method: 'POST',
            success: function(data) {
                console.log(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>
<!-- <h1>Привет, {{user.nickname}}! :)</h1> -->
<div class="container">

  <div class="panel panel-default">
    <div class="panel-body"><h4><b>Сейчас играет: {{ current_radio_station }}</b><br>{{ tracks[-1] }}</h4></div>
  </div>
</div>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col" align="center">Радиостанции</th>
    </tr>
  </thead>
  <tbody>
  {%  for url in urls %}
    <tr>
      <td><button type="button" name="submit" value="{{ url }}" class="btn btn-success btn-block">{{ url }}</button></td>
    </tr>
  {% endfor %}
  <tr>
      <td><button type="button" name="submit" value="stop" class="btn btn-danger btn-block">Выключить радио</button></td>
  </tr>
  </tbody>
</table>
</div>
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">5 последних треков</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
          {% for track in tracks[::-1] %}
            <div class="panel-body">{{ track }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}